.section-admin{
    width: 100%;
}
.nav a{
    color: #282c34;
}
.flex-column .nav-link{
    color: #282c34;
    border-bottom: 1px solid #282c34;
    width:100%
}
.nav-link:hover{
    color: burlywood;;
    cursor: pointer;
}
